
body{
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    font-family: 'Varela Round', sans-serif;
}
.colorPickerCont {
    max-width: 400px;
    width: 100%;
    padding: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}
.colorPrev {
    width: 100%;
    height: 100px;
    border: 1px solid #d5d5d5;
    background: black;
}
.hexTxt{
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin: 0;
    align-items: center;
    height: 100%;
    transition: color 1s;
}
.inputsCont {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}
.wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
}
.initial{
    font-size: 20px;
    margin-right: 5px;
}
.Range{
    width: 100%;
}
.red {

}
.green {

}
.blue {

}